:root {
    --text-color:#757575;
    --titlt-color:#212121;
    --accent-color:#2196F3;
    --logo-dark-color:#000000;
    --white-color:#FFFFFF;
}
 
.list {
    list-style: none;
    text-decoration: none;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--text-color)
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px solid blue; */
}
p {
    margin: 0;
}

/* ***************** Шапка ******************** */

.page-header {
    background-color: var(--white-color);
    
    color: var(--accent-color);
    
}

.flex {
display: flex;
justify-content: center;
align-items: center;
}

.logo {
    display: inline-block;
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
}

.logo-dark {
    color: var(--logo-dark-color);
}
.nav-header {
    display: flex;
}
.nav-header > .logo {
    margin-right: 93px;
}
.navigation {
    display: flex;

}

.flex > .contacts {
    display: flex;
    margin-left: auto;
}


.nav-item:not(:last-child) {
    margin-right: 50px;
}
.nav-link {

    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500; 
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--titlt-color);
   
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: inherit;
    
}
.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.page-header .contact {
    padding-top: 32px;
    padding-bottom: 32px;
}
.page-header .contact-item:not(:last-child) {
    margin-right: 50px;
}

/* ***************** Футер ******************** */

.logo-white {
    color: var(--white-color);
}


.address-text {
    display: inline-block;
    padding-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-color);

}

.address > .contacts {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address .contact-item:not(:last-child) {
    padding-bottom: 9px;
}
.address-text:hover,
.address-text:focus {
    color: var(--accent-color);
}
.footer {
background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}
.footer .logo {
    display: inline-block;

}

/* ***************** WebStudio ******************** */



.hero {
    padding: 200px;
    background-color: #2F303A; 
text-align: center;
}


.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 0;
    margin-bottom: 30px;
    
}

.btn {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
    border-radius: 4px;
}

.title,
.feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--titlt-color);
    margin: 0;
}

.title {
    margin-bottom: 50px;
    text-align: center;
}   
.feature-title {
    margin-bottom: 10px;
}

/* ************************* Так можно или как-то по другому скрывают? *************************** */
.features .title, 
.portfolio-title {
    opacity: 0;
    margin: 0;
   
}
/* ******************************************** ? *********************************************** */

.features {

margin: 0;
padding-top: 94px;
padding-bottom: 94px;
background-color: #E5E5E5;
outline: 1px solid blue;
}

.feature .feature-title {
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}
.features-list {
    display: flex;
}
.feature:not(:last-child) {
    margin-right: 30px;
}

.feature-text {
    font-size: 14px;
    line-height: 1.7;
}
.services {
    padding-bottom: 94px;
    outline: 1px solid blue;
    background-color: #E5E5E5;
}
.services-list {
    display: flex;
}
.service-item:not(:last-child) {
 margin-right: 30px;   
}

.employees {
    padding-top: 94px;
    padding-bottom: 94px;
    outline: 1px solid blue;
    background-color: #F5F4FA;
}
.employees-list {
    display: flex;
    text-align: center;
}
.employee-item {
width: 270px;
height: 368px;
/* outline: 1px solid red; */
background-color: var(--white-color);
}
.employee-item:not(:last-child) {
    margin-right: 30px;
}
.employee-item img {
   
margin-bottom: 30px;
}
.employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--titlt-color);
    margin-top: 0;
    margin-bottom: 10px;
}

.employee-vacancy {
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 30px;
}


/* ***************** Portfolio ******************** */

.filter-btn {
cursor: pointer;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
color: var(--titlt-color);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.work-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--titlt-color);
    margin: 0;
}

.work-view {
font-size: 16px;
line-height: 1.9;
}

